<div class="overflow-hidden">
  <button type="button"
          data-action="click->tree-view#toggle"
          aria-controls="<%= id %>"
          aria-expanded="<%= open %>"
          data-state="<%= open ? 'open' : 'closed' %>"
          class="flex w-full items-center gap-2 rounded-md px-2 py-1.5 text-sm hover:bg-neutral-100 dark:hover:bg-neutral-700 transition-colors duration-150 outline-hidden focus:underline">
    <svg data-tree-view-target="icon" class="<%= open ? 'folder-open' : 'folder-closed' %>" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <%= folder_icon_svg %>
    </svg>
    <span class="font-medium"><%= name %></span>
  </button>
  <div id="<%= id %>"
       data-state="<%= open ? 'open' : 'closed' %>"
       role="region"
       class="ml-4 pl-2 border-l border-neutral-200 dark:border-neutral-700 space-y-1 overflow-hidden transition-[height]"
       data-tree-view-target="content"
       <%= 'hidden' unless open %>>
    <% items.each do |item| %>
      <%= render item %>
    <% end %>
  </div>
</div>
